*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

    a{
        text-decoration: none;
        color: black;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(36,37,62);
    background: linear-gradient(90deg, rgba(36,37,62,1) 12%, rgba(20,19,49,1) 81%);
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    width: 100%;
    a{
        color: white;
        font-size: 1.5rem;
    }

    .header-list{
        display: flex;
        li{
            margin: 0px 1em;
        }

        li::before {  
            transform: scaleX(0);
            transform-origin: bottom right;
          }
          
          li:hover::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
          
          li::before {
            content: " ";
            display: block;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            inset: 0 0 0 0;
            background: rgb(255, 255, 255);
            z-index: -1;
            transition: transform .3s ease;
          }
          
          li {
            position: relative;
          }  

        a:hover{
            color: black;
            transition: .3s;
        }
    }
}

.sessao-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 8em;

    h1{
        font-size: 3rem;
        color: white;
        font-weight: 100;
    }
    
    h2{
        font-size: 1.75rem;
        color: #5AC6C0;
    }

    button{
        width: 135px;
        height: 50px;

        font-size: 1rem;

        border-radius: 10px;
        border: none;
        margin: 0px 1.6em;

        cursor: pointer;
        transition: .3s ease;
        border: 2px solid white;
    }
}

.linkedin{
    background: #006eeb48;
    color: white;
    border: none;
    font-weight: bold;
}

.github{
    background: #0d11178a;
    color: white;
    border: none;
    font-weight: bold;
}
.projetos{
    background-color: #FB2434;
    color: white;
}

.linkedin:hover{
    background: #006CEB;
}
.github:hover{
    background: white;
    color: black;
}

.sessao-2{
    margin-top: 9em;

    h1{
        font-size: 2rem;
        color: #5AC6C0;
        text-align: center;
    }
    h2{
        color: white;
        margin-top: 1em;
        text-align: center;
    }
    p{
        color: white;
    }
}

.width-alignment{
    max-width: 1200px;
    margin: 0 auto;
}

.ethic-align{
    display: flex;
    justify-content: space-around;
}

.sessao-3{
    margin-top: 5em;
    h2{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1em;
    }
    p{
        font-size: 1.2rem;
        text-align: justify;
    }
    h2, p{
        color: white;
    }
}

.sessao-4{
    padding-top: 5em;
    margin: 0 auto;
    max-width: 1000px;
    h1{
        text-align: center;
        font-size: 2rem;
        color: #5AC6C0;
    }

    .skills{
        display: flex;
        justify-content: space-around;
        margin: 7em 0em;
    }

}

.opacity-hover{
    opacity: .5;
    transition: .5s;
    cursor: pointer;
}
.opacity-hover:hover{
    opacity: 1;
    transform: scale(1.1);
}

.sessao-5{
    padding-top: 5em;
    margin: 0 auto;
    max-width: 1000px;
    h1{
        text-align: center;
        font-size: 2rem;
        color: #5AC6C0;
    }

    .contact{
        width: 700px;
        height: 250px;
        border-radius: 15px;
        background-color: #1C2431;
        margin-bottom: 1em;
        color: white;
        text-align: center;
        margin-bottom: 3em;

        h2{
            padding-top: 1em;
        }
        p{
            font-size: .9rem;
        }
    }
}

footer{
    .footer-adjust{
        background: #0B1523;;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-margin{
        margin: 0em 20em;
    }

    a, p{
        color: white;
    }
}

.tooltip{
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: .1s ease;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.267);
    display: none;
}

    .swiper {
  margin-top: 1em;
  width: 1000px;
  height: 550px;
  img{
    border-radius: 10px;
  }
}

    .screen{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4em;

        h1{
            color: white;
            margin-bottom: .6em;
            margin-right: .5em;
        }
    }

    .swiper-button-prev{
        color: black;
        font-weight: bold;
    }
    .swiper-button-next{
        color: black;
        font-weight: bold;
    }
    .swiper-scrollbar{
        display: none;
    }

@media (max-width: 900px){
    .sessao-3{
        max-width: 800px;
        margin: 0 auto;
    }

    .teste{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 800px !important;
    }

    .margin-left-adjust{
        margin-left: 1em !important;
        margin-right: 1em !important;
    }

    .img-adjust{
        margin-top: 3em;
    }
}

@media (max-width: 800px){
    footer{
        display: none;
    }
}